@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600;800&display=swap');


.containerGare {
    background-color: ffffff;
    color: #0088ce;
    display: flex;
    width: 100%;
    justify-content: center;
    font-family:'Poppins';
    font-weight: 600;
    font-size: 12px;
}

.containerGrille {
    border: 1px solid white;
  padding: 16px;
  width: 1600px;
  height: 800px;
  
  display: grid;
  grid-template-areas: 
    "a b c d "
    "e e f f "
    "e e f f ";
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  
}

.a {
    grid-area: a;
    /* padding: 35px; */
    background-color: #d7d7d7;
    border-radius: 8px;
}

.b {
    grid-area: b;
    background-color: #d7d7d7;
    border-radius: 8px;

}

.c {
    grid-area: c;
    background-color: #d7d7d7;
    border-radius: 8px;
}

.d {
    grid-area: d;
    background-color: #d7d7d7;
    border-radius: 8px;
}

.e {
    grid-area: e;
    background-color:#d7d7d7;
    border-radius: 8px;
}

.f {
    grid-area: f;
    background-color: #d7d7d7;
    border-radius: 8px;
}

